/* fonts */

@font-face{
  font-family: "syncopate";
  src: url("../fonts/syncopate/syncopate-regular-webfont.woff") format("woff"),
  url("../fonts/syncopate/syncopate-regular-webfont.woff2") format("woff2"),
  url("../fonts/syncopate/Syncopate-Regular.ttf") format("truetype");
  font-weight: 600;
}

/*  general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

h1{
  font-size: 5em;
  text-transform: uppercase;
}

.head-title{
  font-size: 2em;
  margin-top: 50px;
}

h2, h1{
  font-weight: inherit;
  text-transform: uppercase;
}

h2{
  margin: 50px 0 20px;
}

h3{
  margin-bottom: 5px;
  font-weight: 600;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style: none;
}

.second-level-text{
  font-size: 3em;
}

.third-level-text{
  font-size: 1.5em;
}

/* header */

header{
  padding: 20px;
  width: 100%;
}

.flex{
  display: flex;
}

.flex-50{
  width: 50%;
}

.flex-btw{
  justify-content: space-between;
}

nav ul{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  padding-top: 50vh;
  height: 0;
  width: 0;
  overflow: hidden;
}

.open-menu{
  width: 100%;
  height: 100%;
}

.rect1{
  transform: rotate(-45deg);
  fill: white;
}

.rect2{
  display: none;
}

.rect3{
  transform: rotate(45deg);
  fill: white;
}

nav svg{
  position: relative;
  z-index: 2;
}

.logo:hover{
  text-decoration: none;
  opacity: 0.5;
}

.times-new{
  font-family: 'Times New Roman', Times, serif;
}

.header-h2{
  margin: 20px;
}

/* main */

main{
  font-family: syncopate;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.background-hero{
  background-image: url("../images/20201202_102848-800.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.index-first-sect div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-section{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* galery */

.figure-galery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  justify-content: center;
}

.figure-galery figure{
  width: 100%;
  height: 400px;
  margin: 1%;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chapo{
  margin: 10px 20px 40px;
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
}

.firstthird, .secondthird{
  width: 100%;
}

.pres, .cv{
  text-align: left;
  flex-direction: column;
}

.cv .firstthird > *{
  max-width: 700px;
}

.pres .firstthird, .cv .secondthird{
  height: 50vh;
}

.cv .firstthird{
  order: 2;
}

.cv .firstthird li div{
  flex-direction: column;
}

.cv li{
  margin-bottom: 20px;
}

.date{
  margin-bottom: 10px;
}

.p-50{
  padding: 50px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  justify-content: center;
}

.width-70{
  width: 70%;
}

.active{
  text-decoration: underline;
}

video{
  width: 90%;
  outline: none;
}


@media (min-width: 400px){
  .figure-galery figure{
    height: 300px;
    width: 48%;
  }
}

@media (min-width: 600px){
  .figure-galery figure{
    height: 400px;
  }
}


@media (min-width: 768px){
  body{
    display: flex;
  }

  header{
    width: 100%;
  }

  main{
    width: 200%;
  }

  .position-fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    transform: translateX(-50%);
  }

  .centered-elem{
    display: flex;
    width: 100%;
    padding-left: 50%;
    padding-top: 50px;
  }

  .background-hero{
    background-image: url("../images/20201202_102848-1500.jpg");
  }

  nav ul{
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 0;
  }

  nav{
    padding-top: 50px;
  }

  .index-first-sect{
    height: 100vh;
    align-items: flex-end;
    padding-right: 10%;
  }

  .burger-menu-icone{
    display: none;
  }

  .index-second-sect{
    text-align: left;
    justify-content: left;
    align-items: baseline;
    height: 60vh;
    padding-left: 10%;
  }

}

@media (min-width: 1000px){
  .figure-galery figure{
    width: 30%;
    height: 400px;
  }
  
  .cv .firstthird li div{
    flex-direction: row;
  }
}

@media (min-width: 1200px){
  main{
    width: 300%;
  }

  header{
    max-width: 300px;
  }

  .secondthird{
    width: 40%;
  }
  
  .firstthird{
    width: 60%;
  }

  .pres, .cv{
    flex-direction: row;
  }

  .cv .firstthird{
    order: 0;
  }

  .pres .firstthird, .cv .secondthird{
    height: auto;
  }

  .pres .firstthird{
    max-height: 100vh;
  }
  
}

@media (min-width: 1440px){
  .background-hero{
    background-image: url("../images/20201202_102848-2000.jpg");
  }

  .figure-galery figure{
    width: 20%;
    max-width: 300px;
  }
}

@media (min-width: 2500px){
  .background-hero{
    background-image: url("../images/20201202_102848.jpg");
  }
}